
@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Pridi:wght@200;300;400;500;600;700&family=Quicksand:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --hulu-green: #1ce783;
  --dark-bg: #040405;
  --light-gray: #D3D3D3;
  --white: #FFFFFF;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--dark-bg);
  color: var(--white);
  font-family: "Quicksand";
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  margin-bottom: 50px;
  background: var(--dark-bg);
  color: var(--white);
  position: fixed;
  top: 0;
  width: 98%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  padding: 20px;
}

.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--dark-bg);
  box-shadow: 0 -2px 4px rgba(0,0,0,0.1); 
  z-index: 100; 
}
.logo {
  color: var(--hulu-green);
  font-family: "Josefine Sans";
  cursor: pointer;
}

.github-icon {
  margin-left: -30px;
}

.nav {
  position: relative;
  display: flex;
  align-items: center;
}

.nav li {
  list-style-type: none;
  text-decoration: none;
}

.nav-link{
  list-style-type: none;
  text-decoration: none;
  color: var(--light-gray);
  text-decoration: none;
  padding: 15px;
  cursor: pointer;
font-family: "Quicksand";
}

.nav-link:hover, .nav-link.active {
  color: var(--hulu-green);
}

.search-input {
  position: relative;
  background-color: #0F0F11; 
  border: 2px solid transparent; 
  padding: 10px 15px;
  outline: none;
  border-radius: 4px; 
  color: var(--white); 
  font-size: 16px; 
  width: 400px; 
  box-sizing: border-box; 
  transition: border-color 0.3s ease; 
  cursor: pointer;
}

.search-input:focus {
  outline: none; 
  border-color: var(--hulu-green); 
  box-shadow: 0 0 0 2px rgba(28, 231, 131, 0.2);
}

::placeholder {
  color: var(--light-gray);
  font-family: "Quicksand";
  font-size: 18px;
  padding: 10px;
}

.search-icon {
  position: absolute;
  margin-left: -35px;
  top: 47px;
  cursor: pointer;
  
}
.watchlist-movie-cards {
  display: grid;
  grid-template-columns: repeat(5, 350px);
  justify-content: center;
  grid-gap: 20px;
  color: var(--light-gray);
}


.movie-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); 
  justify-content: center;
  grid-gap: 20px; 
  color: var(--light-gray);
  padding: 20px;
  margin-top: 100px;
 
}

.movie-card {
  background-color: #0F0F11;
  border-radius: 8px;
  padding: 20px;
  margin: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s ease-in-out;
  color: var(--light-gray);
  cursor: pointer;
}

.movie-card:hover {
  transform: scale(1.03);
}

.movie-card-link {
  list-style-type: none;
  text-decoration: none;
}

.movie-poster {
  width: 100%;
  height: 300px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.movie-info {
  padding: 5px 10px;
  color: var(--txt-color);
  position: relative;
}

.add-to-watchlist {
  position: absolute;
  right: 10px;
  top: 2px;
  border: var(--light-gray) solid 1px;
  padding: 2px;
  
  font-size: 12px;
  cursor: pointer;
}

.add-to-watchlist:hover {
  border: var(--hulu-green) 1px solid;
}

.movie-title {
  
  font-size: 18px;
  margin-top: 25px;
    color: var(--hulu-green);
    margin-bottom: 10px;
    font-weight: 600;
  }

.popularity-container {
  display: flex;
  align-items: center;
}
.movie-popularity {
  
  padding: 5px;
  cursor: pointer;
  font-size: 16px;
  cursor: pointer;
  color: var(--logo-color);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 20px 150px 20px;
  color: var(--txt-color);
  padding: 2px 10px;
}

.btn {
    background-color: var(--hulu-green);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    font-family: "Quicksand";
  }
  
  button:hover {
    background-color: darken(var(--hulu-green), 10%);
  }

  .remove-watchlist {
    width: 100%;
    padding: 10px 0 !important;
    background-color: var(--hulu-green);
    color: var(--white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    font-family: "Quicksand";
  }

.pagination span {
  padding: 10px;
}

.watchlist-empty {
  color: var(--light-gray);
  text-align: center;
  margin-top: 300px;
}

.footer {
  background-color: var(--dark-bg);
  color: var(--light-gray);
  padding: 20px;
  text-align: center; 
}

.footer a {
  color: var(--hulu-green);
  margin: 0 10px;
}

 .movie-detail {
  color: var(--light-gray);
  background-color: #121212;
  font-family: "Quicksand";
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.detail-img {
  width: 100%;
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: auto;
  display: block;
}

.detail-title {
  color: var(--hulu-green);
  margin-top: 20px;
}

.overview, .detail-genre, .detail-release, .duration, .budget {
  background-color: rgb(178, 249, 215, 0.1); 
  padding: 15px; 
  border-radius: 6px; 
  margin: 15px 0; 
}

.actor-gallery {
  display: grid;
  grid-template-columns: repeat(6, minmax(120px, 1fr));
  gap: 15px;
  padding: 20px 0;
  justify-items: center;
}

.actor-img {
  width: 150px;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.actor-img:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.actor-name {
  color: #fff;
  font-size: 14px;
  text-align: center;
  margin-top: 8px;
}

.load-more-actors {
  background-color: var(--hulu-green);
  color: var(--white);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-family: "Quicksand";
}

.movie-detail ul {
  list-style: none;
  padding: 0;
}

.movie-detail li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.movie-detail li div {
  margin-left: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 150px;
}

.gallery img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  border: 3px solid var(--white);
  transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.gallery img:hover {
    transform: scale(1.05);
   border-color: var(--hulu-green) !important;
  }
 

@media (max-width: 768px) {
  .movie-cards, .actor-gallery {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .search-input, nav .nav-link {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px; 
    white-space: nowrap;
  }

  .nav-link {
    max-width: 300px !important;
    margin-right: 10px;
    padding: 0 !important;
  }

  .header {
    flex-direction: column;
    text-align: center;
   
  }

  .nav {
    margin-left: -50px;
  }

  .movie-poster {
    height: auto; 
  }
  .movie-poster {
    width: 100%;
    height: auto; 
  }

  body {
    font-size: 14px;
  }

  .movie-title {
    font-size: 16px; 
  }

  .Toastify__toast-container .Toastify__toast {
    min-height: 48px;
    padding: 2px 8px;
    max-width: 200px;
  }

  .search-input {
    margin-top: 10px;
    width: 300px; 
  }

  .search-icon {
    top: 110px;
    margin-left: -40px;
  }

  .movie-cards {
    display: flex;
    flex-direction: column;
    margin: auto;
    
    width: 95%;
  }
}
 
